name: Deploy FrontEnd to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        working-directory: web
        run: npm ci
      
      - name: Build frontend
        working-directory: web
        run: npm run build

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build and deploy Zola site
        uses: knzai/zola-build@v1
        with:
          deploy: true
